* {
  font-family: IBM Plex Sans Arabic;
}
/* .i_plus{
   background-color: #003366;
   color: #fff;
   height: 28px;
 width: 25px;
   font-size: 20px;
  font-weight: 500;
   text-align: center;
}
.i_plus span{
position: relative;
bottom: 4px;
right: 5px;
} */
/* الجزء العلوي من الصفحة الرئيسية قبل البار */
.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  /* width: 1312px; */
  margin: auto;
}
/* عنوان الموقع */
.smart-world {
  font-size: 36px;
  font-weight: bolder;
  color: #003366;
}
/* مربع البحث */
.serach-container {
  position: relative;
}
.serach-container input {
  width: 304px;
  height: 36px;
  border: none;
  border-radius: 44px;
  background: #f2f2f2;
  outline: none;
  padding-right: 30px;
  direction: rtl;
}
/* ايقونة بمربع البحث */
.serach-container i {
  position: absolute;
  left: 10px;
  top: 25%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #cccccc;
  transform: rotateY(180deg);
}
/* العنوان و مربع البحث */
.smart-serach {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
/* زر الرقم */
.button-tell {
  display: flex;
  width: 304px;
  height: 36px;
  border-radius: 44px;
  background: #f2f2f2;
  padding: 10px;
  padding-left: 30px;
  gap: 40px;
  align-items: center;
  border: none;
}
/* الرقم */
.tell {
  margin: 5px;
  color: #cccccc;
  font-size: 20px;
}
/* ايقونة الهاتف */
.icon-phone {
  color: #cccccc;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
/* قسم يلي فيه ايقونة الاشعارات المفضلة و الزر تبع الرقم */
.side-left {
  display: flex;
  width: 33%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
/*   ايقونة الاشعارات و المفضلة*/
.bell,
.heart {
  background: #fff;
  border: none;
  margin-bottom: 5px;
}
.bell {
  margin-bottom: 25px;
}
/* ايقونة الاشعارات  */
.icon2 {
  height: 20px;
  width: 20px;
  font-size: 24px;
  z-index: -1;
  position: absolute;
  margin-bottom: 30px;
}
.num-message {
  width: 20px;
  height: 20px;
  margin-top: -15px;
  margin-left: 10px;
  background-color: #cccccc;
  border-radius: 50%;
  z-index: 2;
  font-size: 11px;
  padding: 3px;

  position: absolute;
}
.num-message p {
  text-align: center;
}
/* ايقونة المفضلة */
.icon1 {
  width: 20px;
  font-size: 24px;
  height: 20px;
}
/* اول قسم من الصفحة الرئيسية تحت البار النوان تبعه و الشرح و الصورة */
.firsthome {
  display: flex;
  justify-content: space-between;
  /* width: 1312px; */
  width: 95%;
  margin: auto;
  height: 480px;
  margin-top: 32px;
  /* padding-right: 20px; */
}
.firsthome .title1 {
  direction: rtl;
  font-size: 48px;
  line-height: 60px;
}
.firsthome .text {
  font-size: 24px;
  line-height: 35px;
  margin-top: 40px;
}

.homeimg {
  width: 550px;
  height: 480px;
  border-radius: 82px;
  border: #cccccc solid 3px;
}
.title-text {
  direction: rtl;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 0px 10px;
  width: 55%;
  height: 80vh;
}
/* فقرة المزايا */
.adv {
  direction: rtl;
  /* width: 1312px; */
  /* margin: 32px auto; */
  padding-right: 30px;
}

.adv h1 {
  font-size: 48px;
  /* margin-bottom: 40px; */
}
.adv ul li h2 {
  font-size: 24px;
}
/* فقرة يلي فيها موجة زرقة */
.wave {
  /* width: 100%; */
  /* height: 1000px; */
  background-color: #003366;
  direction: rtl;
  margin-bottom: 32px;
  /* padding-right: 30px; */
}
/* الفقرة و الصورة ضمن الموجة */
.auction {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: #fff;
  /* width: 1250px; */
  margin: 32px auto;
}
/* الصورة ضمن الموجة */
.auction img {
  width: 440px;
  height: 460px;
  box-shadow: 0px 0px 12px #f2f2f2;
}
.auction-img {
  background-color: #f2f2f2;
  border-radius: 82px;
}
/* النص ضمن الموجة */
.auction1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 460px;
  padding-top: 40px;
  width: 60%;
}
.auction1 h1 {
  font-size: 48px;
  margin-bottom: 40px;
}
.auction1 ol h2 {
  font-size: 24px;
}
ol {
  list-style: none;
}
/* فقرة المناقصات مع النوان و الشرح */
.tenders {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto;
  direction: rtl;
  /* width: 1470px; */
}
.tenders h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
}
.tenders h2 {
  font-size: 24px;
  line-height: 30px;
}
/* صورة المناقصات */
.tenders-img {
  box-shadow: 1px 1px 8px 2px#cccccc;
  width: 466px;
  height: 375px;
  border-radius: 67px;
}

/* المناقصات بالمربع الازرق */
.box-blue {
  background-color: #003366;
  color: #ffffff;
  width: 96%;
  /* width: 1000px; */
  height: 290px;
  border-radius: 25px;
  padding-right: 5%;
  direction: rtl;
  margin: 115px auto;
  display: flex;
  gap: 10%;
  align-items: center;
}
.box-blue h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
}
.box-blue h2 {
  font-size: 24px;
  line-height: 35px;
}
.box-blue1 {
  width: 50%;
}
/* تنسيق الصور بالمربع الازرق بالترتيب بناء ثم سيارة ثم لابتوب */

.bil {
  margin: 5px;
  width: 230px;
  height: 392px;
  border-radius: 21px;
}
.lab-car {
  margin: 5px;
  width: 230px;
  height: 183px;
  border-radius: 20px;
}
.photo-box-blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-box-blue1 {
  display: flex;
  flex-direction: column;
}
/* ------------ */
.side {
  direction: rtl;
  margin-top: 120px;
}
.vis {
  display: block;
}
.hid {
  display: none;
}
.fav-act {
  background-color: #ffffff;
  color: #000000;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  z-index: 5;
  padding-left: 60px;
}
.fav-act:hover {
  color: #ffffff;
  background-color: #003366;
}
/* .fav-act::before {
  content: '';
  position: absolute;
  bottom: -8px;
  right: 18px;
  width: 100%;
  height: 1px;
  background-color: #003366;
} */
.but {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
}
.par {
  font-size: 30px;
  font-weight: bold;
  margin-right: 15px;
  position: absolute;
  top: 342px;
  right: 90px;
}
.pic {
  position: absolute;
  top: 342px;
  right: 40px;
}
.dec {
  direction: ltr;
  margin-right: 100px;
  margin-top: 5px;
}
.but-sor {
  margin-top: 80px;
  margin-right: 1000px;
}
/* div.size{
  text-overflow: ellipsis;
overflow: hidden;
} */
/* p.size{
  text-overflow: ellipsis;
  width: 20px;
  height: 20px;
} */
 div.icon_bell{
  color: #00000095;
  position: relative;
  top: 10px;
  right: 50px;
  padding: 12px;
 }