.all {
  direction: rtl;
  font-family: IBM Plex Sans Arabic;
}
.container-card-details {
  width: 550px;
  height: 500px;
  background-color: #cccccc;
}
/* for the title details "between the nav and details" */
.title-1 {
  display: flex;
  justify-content: center;
  gap: 68%;
  /* background-color: #ffd700; */
  align-items: center;
  margin: 30px;
}
.title-1 h1 {
  font-size: 40px;
  font-weight: 400;
  color: #007df9;
}
.title-1 .fas.fa-chevron-left {
  font-size: 35px;
}
#ptn-fav {
  margin-left: 4px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;

  position: relative;
}
#ptn-fav .fas.fa-heart {
  position: absolute;
  top: 7px;
  left: 7px;
  color: #000000;
}
.con-details {
  width: 600px;
  height: 500px;
  background-color: #cccccc;
}
.con-nav-auction {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3%;
}
.con-Link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3px;
  height: 50px;
  /* border-bottom: #000 solid 2px; */
}
#lineee {
  margin-top: 10px;
  color: black;
}

.normal {
  background-color: #cccccc;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-family: IBM Plex Sans Arabic;
  padding-top: 2px;
  color: #000000;
  border: none;
}
/* for slider  */
.carousel-indicators button {
  width: 18px !important;
  height: 18px !important;
  border-radius: 50% !important;
  background-color: #cccccc !important;
}
/* for slider  */
.carousel-indicators button.active {
  background-color: #000000 !important;
}
.ptn-clicked {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-family: IBM Plex Sans Arabic;
  padding-top: 2px;
  text-decoration: none;
  color: #ffffff;
  background-color: #003366;
  border-radius: 6px;
}
.information-auction {
  font-family: IBM Plex Sans Arabic;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  overflow: auto;
  height: 427px;
}
/* for the scroll  */
/* ::-webkit-scrollbar {
  height: 400px;
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
} */

/* ::-webkit-scrollbar-thumb {
  background: #888888;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
} */
.con-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
.con-title p {
  width: 100px;
  height: 30px;
  padding-top: 9px;
}
.div-title p {
  margin-right: 10px;
}
.div-title {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  width: 400px;

  height: 100%;
}
.div-con {
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  align-items: center;
}

.div-con h6 {
  margin-right: 10px;
  margin-top: 12px;
}
.condivs {
  margin-right: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.cont-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-con div {
  margin-right: 410px !important;
}
.ptn-particip {
  font-size: 25px;
  font-weight: 500;
  border-radius: 12px;
  width: 220px;
  height: 60px;
  background-color: #ffd700;
  color: #000000;
  border: none;
  margin-left: 20px;
}
.ptn-particip:hover {
  background-color: #e4c617;
  font-size: 26px;
}
/* for slider  */
.carousel-indicators button {
  width: 18px !important;
  height: 18px !important;
  border-radius: 50% !important;
  background-color: #cccccc !important;
}
/* for slider  */
.carousel-indicators button.active {
  background-color: #000000 !important;
}
/* icon hand in the ptn */
.ptn-particip .fas.fa-hand-point-up {
  color: #000000;
  padding-left: 10px;
  padding-top: 3px;
}
.cont-det {
  margin-top: 9px;
  line-height: 40px;
  font-size: 18px;
  margin-right: 10px;
}
.container-card-details hr {
  margin: 15px 0px 20px 0px;
}
.model-particip {
  width: 600px;
  height: 275px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 23%;
  left: 25%;
  z-index: 444;
  border-radius: 12px;
  /* position: relative;
  background-color: #ffd700; */
  /* color:rgb(0, 102, 255) */
}
.con-poop {
  position: relative;
  background-color: #ffffff;
  width: 600px;
  height: 275px;
  /* border-radius: 12px; */
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.sv {
  position: absolute;
  top: -147px;
  left: -125px;
  /* border-top-left-radius: 40px; */
}
.sv2 {
  position: absolute;
  top: -148px;
  right: -427px;
}
.All-con-det {
  position: relative;
}
.gg {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 40px;
}
.gg h3 {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
}
.gg input {
  background-color: #cccccc;
  z-index: 555;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 6px;
}
.gg button {
  color: #ffffff;
  width: 90px;
  height: 30px;
  background-color: #003366;
  border-radius: 6px;
  border: none;
  z-index: 555;
}
.red {
  color: red;
  margin: 10px;
  margin-left: 10px;
}
.black {
  color: #000000;
  margin-left: 10px;
  margin: 10px;
}
.black1 {
  color: #000000;
}
.red1 {
  color: red;
}
.hint-box {
  font-size: 9px;
  position: relative;
  border: 1px solid #444444cc;
  background-color: #ffffff;
  width: 269px;
  height: 33px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 3px;
}
.aaaa {
  /* background-color: aqua; */
  height: 90px;
}
.hint-box i {
  position: absolute;
  top: 0px;
  left: 7px;
  font-size: 30px;
  color: red;
}
