.createauction {
  background-color: #ffd700;
  display: flex;
  border: none;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  height: 53px;
  width: 220px;
  margin-left: 3%;
  margin-top: 20px;
  padding: 10px;
  /* background-color: #ffd700;
  display: flex;
  border: none;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 64px;
  width: 204px;
  margin-left: 3%;
  margin-top: 20px;
  padding: 15px; */
}
.createauction p {
  margin-bottom: 0px;
  font-size: 28px;
}
.createauction i {
  background-color: black;
  padding: 5px;
  color: #ffd700;
  border-radius: 3px;
}
.createauction:hover {
  background-color: #ffd70090;
  font-weight: bold;
}
.sort {
  /* width: 250px;
  background-color: #fff;
  border-radius: 22px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 50px;
  justify-content: center;
  text-align: end;
  padding: 10px;
  padding-left: 20px;
  font-size: 24px;
  position: absolute;
  top: 230px;
  /* right: 25%; */
  /* left: 75%;
  outline: none;
  caret-color: transparent; */
  width: 214px;
  height: 42px;
  background-color: #fff;
  border-radius: 22px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
  justify-content: center;
  text-align: end;
  padding: 10px;
  padding-left: 20px;
  font-size: 24px;
  position: absolute;
  top: 210px;
  /* right: 25%; */
  left: 75%;
  outline: none;
  caret-color: transparent;
}
.sort p {
  margin-bottom: 0px;
}
.fas1:hover + .sort {
  background-color: #003366;
}
.sort1.fas.fa-chevron-left {
  transform: rotate(-90deg);
  font-size: 22px;
}
.sort2.fas.fa-chevron-left {
  transform: rotate(90deg);
  color: black;
  font-size: 22px;
}
.sort:hover,
.sort1:hover + .sort {
  background-color: #003366;
  color: #fff;
  cursor: pointer;
}
.fas1:hover {
  color: #fff;
}
.alotofAuction {
  display: flex;
  gap: 3%;
  /* margin-left: 12%;
    margin-right: 13%; */
  /* padding-right: 18%;
  padding-left: 12%; */
  /* padding-right: 10%;
  padding-left: 12%; */
  padding-right: 8%;
  padding-left: 15%;
  flex-wrap: wrap;
  margin-bottom: 20%;
}
.listSort {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  display: none;
}
.listSort .buttonSort {
  border-radius: 20px;
}
.visable {
  display: block;
}
.hidden {
  display: none;
}
.listSort .buttonSort button {
  position: relative;
  width: 196px;
  background-color: #fff;
  /* padding: 10px; */
  display: block;
  font-size: 23px;
  /* left: 463px; */
  left: 229%;
  /* top: 4px; */

  /* right: -90%;
  position: relative;
  width: 250px;
  background-color: #fff;
  padding: 10px;
  display: block;
  font-size: 24px;
  /* left: 463px; */
  /* left: 185%; */
  /* right:-90%; */
}
.listSort .but {
  position: relative;
  width: 250px;
  background-color: #fff;
  padding: 10px;
  display: block;
  font-size: 24px;
  left: 38%;
  top: -65px;
  /* left: -80%; */
  /* right:90%; */
}
.listSort .buttonSort button:hover {
  background-color: #003366;
  color: #fff;
}
.listSort .buttonSort .button1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.listSort .buttonSort .button2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.listSort .so11 button {
  left: 1020px;
}
/* ---------auction---------- */
.oneAuction {
  position: relative;
  background-color: #f2f2f2;
  margin-top: 30px;
  width: 295px;
  height: 580px;
  border-radius: 12px;
  box-shadow: 1px 1px 8px 2px#cccccc;
  padding-top: 1px;
}
.imageAuction {
  width: 295px;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.oneAuction .nameCube {
  width: 270px;
  margin: auto;
  position: relative;
  background-color: #ccc;
  text-align: center;
  padding: 15px;
  margin-top: -20px;
  border-radius: 22px;
}
.oneAuction .userName,
.product {
  margin-top: 20px;
  flex-direction: row-reverse;
  display: flex;
  gap: 40px;
  align-items: center;
}
.userName {
  margin-right: -10px;
}
.product {
  margin-right: 10px;
  flex-wrap: wrap;
}
.product1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product2 {
  margin-right: 22px;
}
.oneAuction .userName .userAuction,
.oneAuction .product .tableAuction,
.clockAuction {
  font-size: 15px;
  width: 30px;
  height: 30px;
  color: #000;
  padding-top: 8px;
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
}
.clockAuction img {
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
.many {
  direction: rtl;
  padding-right: 10px;
  padding-top: 5px;
}
.many span {
  color: #00cc66;
}
.ditales {
  background-color: #003366;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  width: 100px;
  text-align: center;
  height: 40px;
  display: block;
  margin-top: 30px;
  padding-top: 6px;
  margin-left: 10px;
}
.ditales:hover {
  font-size: 19px;
}
.oneAuction .time {
  position: absolute;
  /* bottom: 210px;
    right: -230px; */
  right: 0px;
  top: 15px;
  padding: 2px;
  color: #00cc66;
  background-color: #fff;
  width: 70px;
  text-align: center;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}
.timedet {
  color: #00cc66;
}
.oneAuction .time1 {
  position: absolute;
  /* bottom: 210px;
    right: -230px; */
  right: 0px;
  top: 15px;
  padding: 2px;
  color: red;
  background-color: #fff;
  width: 70px;
  text-align: center;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}
.time1det {
  color: red;
}
.oneAuction .time2 {
  position: absolute;
  /* bottom: 210px;
    right: -230px; */
  right: 0px;
  top: 15px;
  padding: 2px;
  color: rgb(12, 166, 212);
  background-color: #fff;
  width: 70px;
  text-align: center;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}
.time2det {
  color: rgb(12, 166, 212);
}
.white {
  color: #fff;
}
.black {
  color: #000;
}

.oneAuction .fa-heart {
  background-color: #ccc;
  position: absolute;
  left: 8px;
  top: 15px;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* ------createAuction----- */
.image-input {
  color: transparent;
  margin-top: 20px;
  margin-left: 250px;
  display: none;
}
i.upload {
  display: inline-block;
  font-size: 46px;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  /* padding-left: 50px; */
  margin-left: 370px;
}
.replace {
  display: none;
}
.rep {
  display: inline-block;
  font-size: 17px;
  background-color: #00cc66;
  position: relative;
  bottom: 245px;
  left: 149px;
  padding: 4px 2px;
  padding-bottom: 5px;
}
p.upload {
  font-size: 28px;
  width: 280px;
  margin-left: 270px;
  margin-bottom: 30px;
}
.video {
  width: 590px;
  height: 400px;

  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 8px;
}
.img-choose {
  width: 250px;
  height: 250px;
  margin-top: 30px;
  margin-left: 28px;
  border-radius: 8px;
}
.div-choose {
  width: 295px;
}
.choose {
  background: red;
  color: white;
  border: none;
  /* padding-top: 1px; */
  cursor: pointer;
  border-top-right-radius: 8px;
  position: relative;
  bottom: 251px;
  left: 259px;
}
.choose1 {
  bottom: 400px;
  left: 580px;
}
.create-auction-button .createp {
  direction: rtl;
  margin-top: 40px;
  /* margin-top: 60px; */
  margin-right: 10%;
  font-size: 38px;
  font-weight: 500;
  color: #66b2ff;
}
.auction2 {
  margin-top: 50px;
  position: relative;
  margin-right: -35px;
  margin-bottom: 50px;
  width: 309px;
}
.auction22 {
  position: relative;
  top: 0px;
  right: 0px;
}
.create-auction-button .fas.fa-chevron-left {
  position: absolute;
  left: 10%;
  top: 125px;
  /* top: 190px; */
  /* top: 170px; */

  border: none;
  font-size: 32px;
  font-weight: bold;
  background-color: #fff;
  color: #ccc;
}
.create-auction-data {
  display: flex;
  flex-direction: row-reverse;
  /* margin-right: 10px; */
  margin-bottom: 50px;
  /* padding-right: 2%; */
  width: fit-content;
  margin: auto;
  gap: 10px;
}
.create-auction-data1 {
  width: 680px;
  min-height: 500px;
  /* height: 840px; */
  margin-top: 20px;
  margin-bottom: 20px;
  /* padding-left: 50px; */
  background-color: #ccc;
}
.create-auction-data2 {
  width: 610px;
  /* height: 880px; */
  background-color: #ccc;
}
.datadecor {
  flex-direction: row;
}
.create-auction-form {
  direction: rtl;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}
.create-auction-form2 {
  padding-top: 18px;
  direction: rtl;
  display: flex;
  gap: 20px;
  /* background-color: #1100ff; */
}
.tri2 {
  left: -5px;
  bottom: 10px;
  transform: rotate(248deg);
  width: 30px;
}
.group-label,
.product-name-label {
  font-weight: 500;
  font-size: 17px;
  color: #000;
  margin-right: 118px;
  margin-left: 10px;
  margin-top: 10px;

  /* margin-top: 50px; */
}

.group1 input {
  margin-right: -68px;
}
.create-auction-button {
  padding-bottom: 110px;
}
.group2 {
  /* padding-right: 20px; */
  border: #000000 solid 1px;
  outline: none;
  direction: rtl;
  width: 155px;
  height: 31px;
  border-radius: 8px;
  /* left: 120px;
    top: 10px; */
    cursor: default;
  position: relative;
  right: 155px;
  bottom: 50px;
  caret-color: transparent;
  font-weight: 500;
  /* margin-right: -40px; */
  margin-bottom: 6px;
  background-color: #f2f2f2;
}
.group22 {
  border: none;
  direction: rtl;
  width: 175px;
  height: 31px;
  padding-right: 12px;
  border-radius: 8px;
  outline: 1px solid #000000;
  position: relative;
  right: 155px;
  bottom: 50px;
  caret-color: transparent;
  font-weight: 500;
  margin-bottom: 6px;
}
.tri3 {
  position: relative;
  right: 280px;
  top: -25px;
  /* top: 323px;
  left: 755px; */
  z-index: 2;
}
.tri33 {
  position: relative;
  right: 300px;
  width: 15px;
  height: 16px;
  top: -25px;

  background-color: #000000;
  z-index: 2;
}
.group1 {
  padding-top: 42px;
  padding-left: 30px;
  margin-bottom: 50px;
}

.product-name input,
.product-name input.prod {
  width: 150px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  margin-right: -70px;
  border-radius: 8px;
  /* margin-top: -9px; */
  outline: none;
  border: none;
  background-color: #f2f2f2;
}
.triangle1 {
  transform: rotate(360deg);
}
.list-group-m {
  direction: rtl;
  border: #000 solid 2px;
  width: 150px;
  border-radius: 8px;
  margin-right: 160px;
  margin-top: -40px;
  margin-bottom: 30px;
  display: none;
}
.list-group-m2 {
  direction: rtl;
  border: #000 solid 2px;
  /* outline: 1px solid #000000; */
  width: 156px;
  border-radius: 8px;
  margin-right: 160px;
  margin-top: -40px;
  margin-bottom: 30px;
  display: none;
}
.list-group-m div,
.list-group-m2 div {
  height: 2px;
  background-color: #000;
}
.list-group-m .p1,
.list-group-m .p2,
.list-group-m .p3,
.list-group-m2 .p1,
.list-group-m2 .p2,
.list-group-m2 .p3 {
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 16px;
  height: 40px;
  font-weight: 700;
}

.list-group-m .p2 {
  padding-top: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-m .p3 {
  padding-top: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.list-group1 {
  display: flex;
  flex-direction: column;
}
.product-name {
  margin-top: -7px;
  margin-bottom: 50px;
  display: flex;
  position: relative;
}
.send-auction {
  background-color: #003366;
  color: #fff;
  padding: 10px;
  padding-top: 5px;
  height: 50px;
  width: 175px;
  font-weight: 400;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  /* margin-top: 50px; */
  /* margin-right: 100px; */
  position: absolute;
  bottom: -30px;
  right: 270px;
}
.spinn-Auc {
  position: absolute;
  bottom: -30px;
  right: 270px;
}
.list-data {
  border-bottom: #000 solid 2px;
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  gap: 90px;
  padding-right: 50px;
}
.list-data button {
  border: none;
  background-color: #ccc;
  height: 50px;
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
}

.auction3 {
  display: flex;
  position: relative;
  margin-top: -20px;
}
.status {
  margin-top: 7px;
  margin-bottom: 50px;
}
.status label {
  font-weight: 500;
  font-size: 17px;
  color: #000;
  margin-bottom: 10px;
  margin-left: -5px;
  /* margin-right: 120px;
    margin-top: 10px; */
}
.status input {
  width: 20px;
  height: 20px;
  margin-top: 4px;

  /* margin-right: -90px; */
}
input [type='date'] {
  background-color: transparent;
  border-radius: 8px;
}

.de {
  height: 50px;
  width: 90px;
  height: 50px;
  width: 90px;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  cursor: pointer;
}
.list-data div.back {
  background-color: #003366;
  color: #fff;
  border-radius: 8px;
  height: 50px;
  width: 90px;
  text-align: center;
  padding-top: 10px;
  height: 50px;
  width: 90px;
  font-weight: bold;
}
.textarea {
  width: 500px;
  min-height: 300px;
  max-height: fit-content;
  background-color: #f2f2f2;
  margin-left: 70px;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  text-align: right;
  padding: 20px;
  outline: none;
}
/* --------- */
.bu {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* --------- */
.group-con {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 7%;
  display: flex;

  flex-wrap: wrap;
  gap: 5%;
}
.group-div {
  width: 350px;
  height: 300px;
  margin-bottom: 5%;
  background-color: #003366;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: 350px 300px;
  overflow: hidden;
}
.div1 {
  background-image: url('../../image/cargroup.jpeg');
}
.div11 {
  background-image: url('../Tenders/image-Tenders/Pica-enhance-20250224115339.png');
}
.div2 {
  background-image: url('../../image/bil.jpg');
}
.div22 {
  background-image: url('../Tenders/image-Tenders/Pica-enhance-20250224115515.png');
}
.div3 {
  background-image: url('../../image/elctron.jpeg');
}
.div33 {
  background-image: url('../Tenders/image-Tenders/Pica-enhance-20250224115610.png');
}
.div4 {
  background-image: url('../../image/furniture.jpeg');
}
.div44 {
  background-image: url('../Tenders/image-Tenders/Pica-enhance-20250224121712.png');
}
.div5 {
  background-image: url('../../image/clothes.jpeg');
}
.div55 {
  background-image: url('../../image/question.jpeg');
}
.div6 {
  background-image: url('../../image/jewelery.jpeg');
}
.div7 {
  background-image: url('../../image/question.jpeg');
}
.group-div .link {
  background-color: #f2f2f298;

  display: inline-block;
  height: 75px;
  width: 100%;
  position: relative;
  text-align: center;
  color: #000;
  text-decoration: none;
  padding-top: 5px;
  top: 225px;
  border: none;
  font-size: 32px;
  font-weight: 500;
}
.create-auction-button .createp1 {
  font-size: 48px;
  margin-right: 8%;
  margin-top: 26px;
}
/* ----- */
.create-auction-button .fas1 {
  margin-top: 110px;
}

.so {
  /* top: 375px; */
  top: 295px;
}
.createauction-group {
  margin-top: -108px;
}
.sort-ten {
  gap: 25px;
}
/* .Navul li.p-ten a:hover {
  font-size: 35px;
  color: red;
} */
.error-title {
  top: 30px;
  right: 45px;
}
.error-category {
  top: 81px;
  right: 30px;
}
.error-start-time,
.error-starting-price,
.error-end-time,
.error-minimumIncrement {
  top: 30px;
  right: 43px;
  position: absolute;
}
/* {
  top: 30px;
  right: 43px;
} */
/* {
  top: 243px;
  right: 45px;
} */
/* {
  top: 320px;
  right: 45px;
} */
.error-name {
  top: 38px;
  right: 48px;
}
.error-status {
  position: absolute;
  top: 10px;
  width: 100px;
  right: 30px;
}
.gr {
  position: relative;
  margin-top: -15px;
  right: 50px;
  width: 280px;
}
.gr p {
  margin-right: -10px;
  padding-top: 25px;
  margin-bottom: 67px;
  color: #000;
  font-weight: bold;
}
.send-auction1 {
  background-color: #00000090;
}
.error-gr {
  bottom: 5px;
  right: 75px;
}
.bor {
  border: #00000050 1px solid;
  margin-bottom: 30px;
  padding: 15px 0px 0px 0px;
  border-radius: 8px;
  margin-top: -55px;
}
.group1 .product-name input {
  margin-top: 5px;
}
.group1 .product-name label {
  padding-top: 5px;
}
.gr .product-name {
  margin-right: -40px;
}
/* ============================ */
.error-back {
  position: absolute;
  bottom: 30px;
  right: 298px;
  font-weight: bold;
  font-size: 14px;
}
/* ============================================================================ */
.group22 {
  border: none;
  direction: rtl;
  width: 175px;
  height: 31px;
  padding-right: 12px;
  border-radius: 8px;
  outline: 1px solid #000000;
  position: relative;
  right: 155px;
  bottom: 50px;
  caret-color: transparent;
  font-weight: 500;
  margin-bottom: 6px;
}
.visable21 {
  display: block;
  margin-top: 20px;
  margin-left: -376px;
}
.visable2 {
  display: block;
  margin-top: 20px;
  margin-left: -376px;
}
.sort21:hover,
.sort2:hover + .sort {
  background-color: #003366;
  color: #fff;
  cursor: pointer;
}
.deleteAuction {
  background-color: #b90909;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  width: 100px;
  text-align: center;
  height: 40px;
  display: block;
  margin-top: 30px;
  /* padding-top: 6px; */
  margin-right: 10px;
}
.cotainerptn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteAuction:hover {
  font-size: 20px;
}
