/* 
;;;; */

/* الحاوي تبع ال footer كامل */
.footer {
  background-color: #cccccc;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: static;
  bottom: 0px;
  width: 100%;
}
/* اللوغو في ال footer */
.footer-logo {
  width: 95%;
  height: 133px;
}
/* الكلمة تبع منصة */
.footer h1 {
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 15px;
}
/* الجملة تبع منصة رائدة */

.footer h6 {
  width: 350px;
  text-align: center;
  font-size: 18px;
  word-spacing: 10px;
  /* margin-bottom: 32px; */
  color: #000000;
  line-height: 28px;
}
/* التعدادات تبع الروابط (تواصل -سياسة - احكام) */
.footer-list {
  /* width: 1312px; */
  display: flex;
  justify-content: space-around !important;
  /* justify-content: center !important; */
  align-items: start !important;
  direction: rtl;
  margin-right: 85px;
  /* background-color: red; */
  /* height: 550px; */
}
/* تنسيق الرقم */
.footer-button-tell {
  background-color: #cccccc;
  border: none;
  margin-bottom: 2px;
  outline: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 40px;
  width: 175px;
  justify-content: space-between;
  padding-right: 0px;
  margin-left: -5px;
  margin-right: 80px;
}
.footer-phone {
  margin-bottom: 16px;
}
/* تنسيق الايقونات مع الايميل و الرقم */
.tell-email,
.footer-phone {
  color: #000000;
  font-size: 20px;
}
/* تنسيق الايميل */
.footer-email {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-decoration: none;
  gap: 10px;
  width: 300px;
}
.SW {
  font-weight: 800;
}
/* تنسيق تواصل سياسة احكام */
.footer-list a {
  text-decoration: none;
  color: #000000;
  font-size: 2px !important;
  font-weight: 400 !important;
  height: 60px;
}
.hov1 {
  font-size: 24px;
  font-weight: normal;
}
/* تنسيق الكلمات سياسة و أحكام */
.hov {
  width: 300px;
}
.privacy {
  margin-left: 150px;
  margin-right: 150px;
}
/* تنسق التواصل */
.hov2 {
  width: 100px;
}
.hov1:hover {
  font-size: 31px;
  font-weight: 500;
}
/* تنسيق الايميل و الرقم */
.hov3:hover {
  font-size: 20px;
  font-weight: bold;
}
.email-phone {
  margin-top: 77px;
  margin-right: 25px;
  position: relative;
}
.footer-button-tell {
  position: absolute;
  /* background-color: #000; */
  right: 52px;
  top: -40px;
}
/* جميع الحقوق محفوظة */
.copy {
  color: #000;
  font-size: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 3px solid #ffffff80;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
}
/* تنسق الجملة و التاريخ و رمز حقوق النشر */
.copy p {
  color: #000000;
  font-size: 30px;
}
/* تاريخ و رمز حقوق النشر */
.copy .num {
  margin-top: 5px;
}

/* من أجل تغميق الكلمات */
.bold1 {
  font-weight: bold;
  font-size: 36px;
}
