.box-up {
  height: 200px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(white, #cccccc);
  position: relative;
}
/* الدائرة حول الايقونة */
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border: 3px solid #cccccc;
}
/* التعداد */
.title-ul {
  color: #003366;
  font-size: 36px;
  margin-bottom: 19px;
  margin-top: 19px;
  margin: 20px;
}
ul {
  list-style-type: disc;
}

.dsa i {
  padding-right: 5px;
  color: #000000;
}
/* ايقونة السهم */
.box-up .fa-chevron-left {
  position: absolute;
  top: 28%;
  left: 90px;
  font-size: 38px;
  color: #cccccc;
}
/* ايقونة القلم */
.box-up .far.fa-edit {
  text-align: center;
  font-size: 70px;
  color: #cccccc;
  padding: 23px;
}
/* ايقونة القفل */
.circle .fa-lock {
  text-align: center;
  font-size: 55px;
  padding: 12px;
  color: #cccccc;
}
/* العنوان */
.box-up .title {
  margin-top: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}
/* كلمة smart بالنص */
span.name {
  font-weight: 500;
}
/* المقدمة */
.phar {
  color: #000000;
  font-size: 30px;
  margin: 40px;
}
/* هون للتطبيق عكل السباسة */
.p1 {
  direction: rtl;
  padding: 12px;
  line-height: 44px;
  font-size: 24px;
  color: #000000;
}
.div_ol {
  margin-top: 44px;
}
.date {
  margin: 40px;
}
